.container {
  height: 100vh;
  background-color: darkcyan;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jeude {
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.jeude h1{
  color: rgb(8, 8, 151);
  font-size: 35px;
}

.jeude button {
  width: 100%;
  padding: 10px;
  background-color: darkcyan;
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 10px;
}

.jeude img {
  width: 150px;
}

.jeude button:hover {
  opacity: 0.7;
}